<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.PublicApiAnalyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Roslyn.Diagnostics.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
</packages>